/* styles.css from UC-Davis-Inter-jQuery of github.com/bbauska/ */
body {
	font-family: Arial;
	color: #333;
	/*padding-top: 200px;*/
}

header {
	background:rgba(217,217,217,0.9);
	width: 100%;
	/*position: fixed;*/
	top: 0;
	height: 160px;
}

header h1 {
	text-align: center;
}

p {
	line-height: 1.5em;
}

img {
	display: block;
	max-width: 100%;
}

section {
	width: 95%;
	margin: 0 auto 150px auto;
	padding: 25px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

/*************** Navigation Styles ***************/
header nav {
	width: 95%;
	margin: auto;
}

header nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	width: 20%;
	box-sizing: border-box;
	border-left: 2px solid #666;
}

header nav ul li:first-of-type{
	border-left: none;
}

header nav ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	background: #9C9C9C;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}
.selected {
	background: rgba(254,0,187,1.00);
	transition: all 1s;
}

.mark::before,
.mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.mark::before {
  content: " [highlight start] ";
}
.mark::after {
  content: " [highlight end] ";
}

@media only screen and (min-width: 700px) {
	
	/*************** Frist Section Styles ***************/
	#first article {
		display: flex;
		align-items: flex-start;
	}

	#first article img {
		margin-left: 25px;
	}
	
	/*************** Second Section Styles ***************/
	#second div, #fifth div {
		display: flex;
		justify-content: space-between;
	}

	#second article {
		width: 30%;
	}

	/*************** Third Section Styles ***************/
	#third article {
		display: flex;
		align-items: flex-start;
	}

	#third article img {
		margin-right: 25px;
	}

	/*************** Fifth Section Styles ***************/
	#fifth article {
		width: 47%;
	}

	#fifth {
		margin-bottom: 500px;
	}
}

@media only screen and (min-width: 1000px) {
	section, header nav {
		width: 960px;
	}
}

.thumbnail{
  width: 100px;
  height: 100px;
}
.thumbnail:hover {
    position:relative;
    top:-50px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
img {
  width: 400px;
}
  .displayed {
    display: block;
    margin: 0 auto; 
  }
  .border {
    border: 2px solid #778899;  /* dark grayish blue */
  }

html {
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 12px;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  html {
    background-color: white;
  }
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}

p {
  margin: 1em 0;
}
a {
  color: #1a1a1a;
}
a:visited {
  color: #1a1a1a;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}

/* The extra [class] is a hack that increases specificity enough to
   override a similar rule in reveal.js */
ul.task-list[class]{list-style: none;}
ul.task-list li input[type="checkbox"] {
  font-size: inherit;
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
